<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="darkreader-lock">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Carbon</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <!-- JavaScripts -->
    <script src="https://kit.fontawesome.com/e524614bb5.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/sidenav') %>
    <main>
        <section class="container">
            <p>mf</p>
        </section>
    </main>
</body>

</html>